#FAQ {
  background-color: black;
  text-align: center;
  padding-bottom: 20px;
}

#FAQ h1 {
  font-size: 60px;
  color: #ff4cf8;
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-btn {
  width: 100%;
  max-width: 700px;
  background-color: pink;
  border-radius: 10px;
  margin: 8px 0;
  overflow: hidden;
}

#FAQ button {
  width: 100%;
  height: 60px;
  font-size: 21px;
  text-align: left;
  padding-left: 15px;
  background-color: pink;
  border-radius: 10px;
  border-width: 0px;
}

.faq-drp-dwn {
  display: none;
  font-size: large;
  padding: 10px;
}

.faq-btn:hover .faq-drp-dwn {
  display: block;
  transform: translateY(-10px);
}
