.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  margin: auto;
  background-color: black;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: auto;
}

.slide p {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 20px;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 600px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
