.slide1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  background-color: black;
  position: relative;
  overflow: hidden;
}

.slide1 img {
  width: 100%;
  height: auto;
}

.slide1 p {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 20px;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 600px; /* Adjust as needed */
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as desired */
}
